<section>
    {{#with room}}
    <h1>Details for {{name}}</h1>
    <p>Price: {{price}}</p>
    <p>Description: {{description}}</p>
    <p>Beds: {{beds}}</p>
    <p>City: {{city}}</p>
    {{/with}}
</section>