<section id="create-section">

    <h1 class="item">Edit Auction</h1>

    <div class="item padded align-center">

        <form class="layout left large" method="POST" >

            <div class="col aligned">
                <label>
                    <span>Title</span>
                    <input type="text" name="name" value="{{item.name}}"></label>
                <label>
                    <span>Category</span>
                    <select name="category">
                        <option {{isSelected 'estate' item.category}} value="estate">Real Estate</option>
                        <option {{isSelected 'vehicles' item.category}} value="vehicles">Vehicles</option>
                        <option {{isSelected 'furniture' item.category}} value="furniture">Furniture</option>
                        <option {{isSelected 'electronics' item.category}} value="electronics">Electronics</option>
                        <option {{isSelected 'other' item.category}} value="other">Other</option>
                    </select>
                </label>
                <label>
                    <span>Image URL</span>
                    <input type="text" name="imageUrl" value="{{item.imageUrl}}">
                </label>
                <label>
                    <span>Starting price</span>

                    <!-- If the current auction has a bidder, this input field should be disabled -->
                    <input type="number" name="price" value="{{item.price}}">
                </label>
            </div>

            <div class="content pad-med align-center vertical">
                <label>
                    <span>Description</span>
                    <textarea name="description">{{item.description}}
                                </textarea>
                </label>

                <div class="align-center">
                    <input class="action" type="submit" value="Update Listing">
                </div>
            </div>

        </form>

    </div>

</section>