<section id="viewCatalog" class="background-img">
    <!--If there are one or more electronics-->
    {{#if items}}
    <div class="added-electronics">
        {{#each items}}
        <a href="/catalog/{{_id}}/details" class="added-electronics-in-market">
            <img src="{{imageUrl}}" class="picture-added-electronics">
            <h3>{{name}}</h3>
            <span>Price: ${{price}}</span>
        </a>
        {{/each}}
    </div>
    {{else}}
    <!--If there are no electronics in catalog yet-->
    <div class="guest">
        There are no electronics found...
    </div>
    {{/if}}
</section>