<section id="detailsPage">
    <div id="detailsInfo">
        <h1>{{item.name}}</h1>
        <div class="info"><img src="{{item.imageUrl}}"></div>

        <div class="info">
            <h3>Type: {{item.type}}</h3>
            <h3>Year of Production: {{item.production}}</h3>
            <h3>Years of Exploitation: {{item.exploitation}}</h3>
            <h3>Damages: {{item.damages}}</h3>
            <h3>Description: {{item.description}}</h3>
            <h2>Price: ${{item.price}}</h2>
        </div>

        <!--If there is user logged in-->
        {{#if hasUser}}
        <div class="buttons">
            {{#unless item.isInteracted}}
            {{#unless item.isOwner}}
            <!--If user is not owner of the toy post-->
            <a href="/item/{{item._id}}/interact" class="buy-btn">Buy</a>
            {{else}}
            <!--If user is owner-->
            <a href="/item/{{item._id}}/edit" class="edit-btn">Edit</a>
            <a href="/item/{{item._id}}/delete" class="delete-btn">Delete</a>
            {{/unless}}
            {{else}}
            <!--If user is not the owner and is bought this toy-->
            <p><span class="buy">Thank You For Your Purchase</span></p>
            {{/unless}}
        </div>
        {{/if}}
    </div>
</section>